<h2 mat-dialog-title> <i class="bi bi-info-circle"></i> Como usar</h2>
<mat-dialog-content class="mat-typography">
  <h3>Registral Rostro</h3>
  <p>Esta funcionalidad de la aplicacion se encargar de identificar los 
    rasgos fisicos de las personas identificando los pequeños detalles 
    y guardar el registro de la persona en la base de datos para luego 
    compararlo con otros usuarios que quieran identificarse o que vayan 
    a registrarse.</p>
    <img src="assets\Imagen\photo_2021-08-17_22-36-32.jpg" alt="Captura de datos" style="width: 500px;">


    <h3>Identificacion de usuarios</h3>
    <p> En esta funcionalidad de la aplicacion se encarga de comparar los rasgos 
        de la persona que intenta identificarse en la aplicacion con los rasgos de
        los usuarios almacenados en la base de datos, revissando el nivel o porcentaje
        de similitud de dicha persona para ver si cumple con alguno de los usuarios
        registrados.
     </p>
     <img src="assets\Imagen\photo_2021-08-17_22-36-42.jpg" alt="Identificacion" style="width: 500px;">

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btn btn-danger" >Cerrar</button>
</mat-dialog-actions>