
<div class="row">
  <div class="col-12 col-lg-6">
    <div id="web-cam">
      <app-web-cam></app-web-cam>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    
  <mat-tab-group>
    <!-- Pestaña de Identificar Rostro -->
    <mat-tab label="Identificar">
      <div class="m-2">
        <app-identificar-rostro></app-identificar-rostro>
      </div>
    </mat-tab>
  
    <!-- Pestaña de Registral -->
    <mat-tab label="Registral">
      <div class="m-2">
        <app-registral></app-registral>
      </div>
    </mat-tab>
  </mat-tab-group>
  </div>
</div>