<div id="main">
  <mat-drawer-container  class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div id="sidenav" ><app-sidenav></app-sidenav></div>
    </mat-drawer>
    <div id="contenedor">
      <mat-toolbar color="primary">
        <button class="example-icon btn" type="button" mat-button (click)="drawer.toggle()">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#fff" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
        </svg>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
      </mat-toolbar>
  
      <div id="principal" class="container bg-white my-4" >
        <router-outlet></router-outlet>
      </div>
    </div>
  
  </mat-drawer-container>
</div>