.example-sidenav {
    width: 300px;
  }

  #principal{
    height: 500px;
  }

  mat-drawer-container{
    background-color: whitesmoke;
    
  }

#sidenav {
  background-color: #3e4da1;
  width: 100%;
  height: 100%;
}

#main{
  height: 100%;
}