<section>
    <div>
        <h3> <i class="bi bi-info-circle"></i> Acerca de<!--Un titulo aqui no se que ponerle--></h3>
        <p>La aplicacion se basa en un sistema de reconocimiento facial <br>
           en la cual  detecta un patron de caracteristicas antes de identificar <br>
           y guardar el rostro de la persona o de reconocerlo para permitirle el acceso. <br> <br>
           Esta identifica los rasgos fisicos  de la persona persona y al guardarlos <br>
            los utilizara para compararlos con los de la persona que intente identificarse <br>
            comprobando el nivel o porcentaje de similitud que tenga dicha persona.              
        </p>
    </div>
</section>